@page




<div class="container">
    <div style="margin-bottom: 15px;">
        <small id="errmsg" class="alert alert-danger" style="display: none;"></small>
    </div>
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" placeholder="name" id="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" placeholder="phone" id="phone" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="number" placeholder="°C" id="degree" class="form-control"/>
        </div>
        <button type="submit" onclick="sendData();return false;">Send</button>
    </form>
</div>

@section Scripts
    {
    <script>

        var urlPost = "https://localhost:5001/forecast/add";
        var urlGet = "https://localhost:5001/forecast/list";
        function sendData() {
            var data = { PlayerName: $('#name').val(), Phone: $('#phone').val(), Degree: $('#degree').val() };
            console.log(data);
            $.ajax({
                type: "POST",
                url: urlPost,
                data: data,
                dataType: "json",
                success: function (result) {
                    if (result.statusCode === 200) {
                        $(location).attr('href', urlGet);
                    } else {
                        $('#errmsg').show();
                        $('#errmsg').text(result.value);
                        console.log(result);
                    }
                }
            });
        }

    </script>
}




